.journal-entries {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.journal-entries .entryBlock {
    display: flex;
    flex-direction: row;
    border: 5px solid #38156F;
    border-bottom: 5px solid #603D97;
    border-right: 5px solid #603D97;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: inset 5px 5px 10px 0px rgba(96, 61, 151, 0.5);
}

.journal-entries .entryBlock img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.journal-entries .entryBlock .textDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.journal-entries .entryBlock .textDetails .date {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #603D97;
}

.journal-entries .entryBlock .textDetails .activities {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.journal-entries .entryBlock .textDetails .activities span {
    background-color: #603D97;
    padding: 2px;
    color: white;
    border: 2px solid #603D97;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}