.search {
    background-image: url('https://assets-global.website-files.com/5a9ee6416e90d20001b20038/64c21faa4f2a2f5ac63df849_-23.png');
    background-position: bottom;
    height: 100vh;
    width: 100%;
}

.search form {
    background-color: #4C298A;
    border: 5px solid #421F80;
    border-right: 5px solid #563394;
    border-bottom: 5px solid #563394;
    height: max-content;
}

.search form input {
    padding: 10px;
    border: 0.25px solid #C092D7;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #D8A3F7;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #4C298A;
    margin: 10px;
}

.search form input::placeholder {
    color: #4C298A;
    font-style: italic;
}

.search form button {
    padding: 6px;
    color: white;
    background-color: #6E4CA2;
    border: 2px solid #6E4CA2;
    border-radius: 10px;
}
.search form button:active {
    background-color: #4C298A;
    border: 2px solid #4C298A;
    transform: translateY(2px);
}